/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End resets */
.37serif {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 1em;
  color: #222222;
}
.37sans-serif {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #222222;
}
body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 1em;
  color: #222222;
  text-align: center;
  line-height: 1.5em;
}
header {
  height: 170px;
}
.hide {
  display: none;
}
.hide h1 {
  font-size: 3em;
  /* 48 / 16 */

}
.hide h5 {
  font-size: 1.125em;
  /* 18 / 16 */

}
nav {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #222222;
  font-size: 0.75em;
  /* 12 / 16 */
  text-align: right;
  padding: 10px;
  margin: 10px 0 20px 0;
}
nav li {
  display: inline;
  padding: 0 10px;
}
nav li.date {
  float: left;
  color: #999999;
}
nav li a {
  text-decoration: none;
  color: #336699;
}
nav li a:visited {
  color: #336699;
}
nav li a:hover {
  color: #6699cc;
}
nav li a span {
  color: #18afe0;
}
nav li a span:hover {
  color: #336699;
}
#wrapper {
  width: 64.0625%;
  /* 820 / 1280 */
  margin: 0 auto;
}
h1 {
  font-size: 3.625em;
  /* 58 / 16 */
  font-weight: 600;
  margin: 10px 0 20px 0;
  line-height: 1em;
  letter-spacing: -2px;
}
h5 {
  font-size: 1.25em;
  /* 20 / 16 */
  font-weight: 500;
  margin: 10px 0;
}
ul li {
  display: inline-block;
}
ul a.product-box {
  height: 220px;
  width: 160px;
  padding: 20px 10px;
  margin: 15px 20px 5px 20px;
  float: left;
  background: #efefef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, white));
  background: -ms-linear-gradient(bottom, #efefef, white);
  background: -moz-linear-gradient(center bottom, #efefef 0%, white 100%);
  background: -o-linear-gradient(white, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#efefef', GradientType=0);
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #222222;
}
ul .product {
  display: none;
}
ul h3 {
  color: #336699;
}
ul h3 span {
  font-size: 1.375em;
  /* 22 / 16 */
  font-weight: bold;
  text-decoration: underline;
}
ul h3 sup {
  color: #999999;
  font-size: 0.75em;
  /* 12 / 16 */
  vertical-align: super;
}
ul h4 {
  font-size: 0.875em;
  /* 14 / 16 */
  font-weight: bold;
  color: #cc0000;
  margin: 5px 0 10px;
}
ul p {
  color: #222222;
  font-size: 0.875em;
  /* 14 / 16 */
  margin: 5px 0 10px;
}
